
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 550px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}



footer.page-footer {
  margin: 0;
}

#slide-out{
  margin-top: 65px;
  padding-top: 30px;
  width: 180px;
}

.video-container{
  margin-left: 260px;
  margin-right: 80px;
  margin-bottom: 40px;
  margin-top: 40px;
  height:400px;
}

.introduction{
  margin-top: 40px;
  margin-left: 260px;
}

table{
  border-style: solid;
  margin-left: 80px;
}
textarea{
  width: 750px;
  height: 200px;
}

.chip a{
  color:#f06292;
}
.tag .chip{
  width: 80px;
}

.answers{
  text-align: left;
  margin-left: 55px;
}
